*{
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;

}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

}
.header{
  background-image: url(../../img/bg-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
}
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  
}
.menu-list{
  display: flex;
}
.menu-list li + li{
  padding-left: 53px;
}
.menu-list a{
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #FFFFFF;
}
.header-content{
  padding-top: 87px;
  background-image: url(../../img/hd-Ellipse.svg);
  background-repeat: no-repeat;
  background-position: 169px 144px;
}
.header-title{
  font-family: Oswald;
  max-width: 490px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 54px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.header-text{
  max-width: 367px;
  margin-bottom: 38px;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;

}
.header-button{
  padding: 13px 42px;
  background: #961914;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  text-decoration: none;
}
.description {
  padding-top: 81px;
  background-color: #ffffff;
}

.description-box{
  display: flex;
  justify-content: space-between;
}

.description-text {
  padding-top: 40px;
}
.title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 32px;
}
.description-expl {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  padding-right: 28px;
  margin-bottom: 24px;
}
.bold{
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}
.description-list {
  padding-top: 16px ;
}

.description-list-item {
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  list-style-type: disc;
  list-style-position: inside;
  
}
.description-list-item::marker{
  color: #961914;

}
.index {
  padding-top: 80px;
}

.index-boxes {
  display: flex;
  justify-content: space-between;
  background-image: url(../../img/bg-index.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px 80px;
  
}
.index-box {
}
.index-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 16px;
}
.index-composition {
  display: flex;
  justify-content: space-between;
}
.index-composition-l {
  margin-right: 72px;
}
.composition-item-img{
  margin-right: 16px;
}
.composition-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 250%;
  color: #434242;
}

