*{
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #434242;
}
.header{
  background-image: url(../../img/bg-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  min-height: 800px;
}
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.menu-list{
  display: flex;
}
.menu-list li + li{
  padding-left: 53px;
}
.menu-list a{
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #FFFFFF;
}
.header-content{
  padding-top: 87px;
  background-image: url(../../img/hd-Ellipse.svg);
  background-repeat: no-repeat;
  background-position: 18% 43%;
}
.header-title{
  font-family: Oswald;
  max-width: 490px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 54px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.header-text{
  max-width: 367px;
  margin-bottom: 38px;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;

}
.header-button{
  padding: 13px 42px;
  background: #961914;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  text-decoration: none;
}
.description {
  padding-top: 81px;
  background-color: #ffffff;
}

.description-box{
  display: flex;
  justify-content: space-between;
}

.description-text {
  padding-top: 40px;
}
.title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 32px;
}
.description-expl {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  padding-right: 28px;
  margin-bottom: 24px;
}
.bold{
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}
.description-list {
  padding-top: 16px ;
}

.description-list-item {
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  list-style-type: disc;
  list-style-position: inside;
  
}
.description-list-item::marker{
  color: #961914;

}
.index {
  padding-top: 80px;
}

.index-boxes {
  display: flex;
  justify-content: space-between;
  background-image: url(../../img/bg-index.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px 80px;
  
}
.index-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 16px;
}
.index-composition {
  display: flex;
  justify-content: space-between;
}
.index-composition-l {
  margin-right: 72px;
}
.composition-item-img{
  margin-right: 16px;
}
.composition-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 250%;
  color: #434242;
}
.ration {
  padding-top: 180px;
  margin-bottom: 180px;
}
.ration-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 74px;
  background-image: url(../../img/ration-ellipse.svg);
  background-size: contain;
  background-position: 149px -2px;
  background-repeat: no-repeat;
}
.ration-text {
  max-width: 777px;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
.ration-views {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.ration-view {
  max-width: 280px;
}
.view-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  padding-top: 45px;
}
.view-sort {
font-weight: normal;
font-size: 13px;
line-height: 130%;
color: #9F9E9D;
margin-bottom: 16px;
}
.view-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 11px;
}
.view-size {
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  color: #9F9E9D;
  margin-bottom: 24px;
}
.ration-btn {
  border: 1px solid #961914;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  color: #961914;
  padding: 13px 42px;
}
.ration-view-img img {
  width: 100%;
  height: auto;
}
.calculate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 121px 54px 50px;
  background-image: url(../../img/bg-index.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.calculate-text {
  max-width: 705px;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.calculate-btn {
  background: #961914;
  border: none;
  border-radius: 8px;
  padding: 13px 42px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}
.quality {
  background-image: url(../../img/Vector\ 1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 180px;
}
.quality-items{
  display: flex;
  justify-content: space-between;
}
.quality-item{
  max-width: 300px;
}
.quality-item-img {
  margin-bottom: 16px;
}
.quality-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 8px;
}
.quality-item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}
.article{
  margin-bottom: 180px;
  background-image: url(../../img/bg-article.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

}
.article-info{
  display: flex;
  justify-content: space-between;
  padding: 80px 0;

}
.article-content {
  padding-top: 50px;
  max-width: 523px;
}
.article-title{
  background-image: url(../../img/vector\ article.svg);
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: 92% 66%;
}
.article-text {
  margin-top: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #434242;
}
.article-text p{
  margin-bottom: 20px;
}
.delivery {
  margin-bottom: 180px;
}
.delivery-items {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.delivery-item {
  max-width: 269px;
}
.delivery-item-img {
  margin-bottom: 20px;
}
.delivery-item-img img{
  margin-right: 42px;
}
.delivery-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 8px;
}
.delivery-link{
  color: #961914;
}
.delivery-subtitle p{
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}
.questions{
  margin-bottom: 180px;
}
.questions-blocks {
  display: flex;
  justify-content: space-between;
}
.questions-block {
  max-width: 766px;
}
.questions-block-unit {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #E5E5E5;;
}
.question-subtitle {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}
.questions-block-unit:last-child {
  border: none;
}
.contacts {
  background-image: url(../../img/bg-contacts.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts-content {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.contacts-box {
  padding-top: 80px;
  max-width: 302px;
}
.contacts-box p {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 32px;
  color: #ffffff;
}
.contacts-box a {
  color: #ffffff;
}
.contact-subtitle {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 130%;
  color: #ffffff;
}
.link-tel{
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
}
.social{
  margin: 20px 0 40px 0;
}
.contact-btn {
  width: 223px;
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  margin-bottom: 16px;
  color: #ffffff;
}

.contact-form {
  padding-top: 110px;
  max-width: 636px;
  color: #ffffff;
}
.contact-form p {
  margin-bottom: 34px;
  color: #ffffff;
}
input{
  width: 306px;
  height: 48px;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;
}
input:first-of-type {
  margin-right: 24px;
}
.form-inputs{
  display: flex;
}
textarea{
  width: 100%;
  height: 122px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
}
.form-block {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}
.checkbox{
  display: flex;
  justify-content: space-between;
}
.form-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 4px;
}
.input-checkbox{
  width: 16px;
  height: 16px;
  align-items: center;
}
.checkbox-text{
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
}
.button-block {
  background: #FFF4F3;
  border: none;
  border-radius: 8px;
  padding: 13px 54px;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #EC7973;
}
.footer {
  height: 76px;
  background: #69120E;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.footer-content p {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.4;
}

/* responsive */

@media (max-width: 1150px) {
  .header-content {
    padding-top: 87px;
    background-image: none;
}
  .description-box {
    flex-direction: column;
  }
  .index{
    padding-top: 10px;
  }
  .index-composition {
    flex-direction: column;
  }
  .ration {
    padding-top: 50px;
  }
  .ration-header {
    background-image: none;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .title {
    margin-bottom: 25px;
  }
  .ration-views {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .ration-view {
    margin-bottom: 20px;
  }
  .quality-items {
    flex-wrap: wrap;
  }
  .article-info {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    
  }
  .article-title {
    background-image: none;
  }
  .article-img img {
    width: 80%;
  }
  .delivery-items {
    flex-wrap: wrap;
  }
  .questions-blocks {
    display: block;
  }
  .contacts-content {
    flex-direction: column;
    /* align-items: center; */
    padding: 0;
  }
  .social {
    margin: 20px;
  }
  .contact-form {
    padding-top: 25px;
  }

  }
@media (max-width: 900px) {
  .menu-list li + li {
    padding-left: 34px;
  }
  .calculate {
    display: block;
    padding: 25px 35px;
  }
  .calculate-text {
    margin-bottom: 15px;
  }
  
}
@media (max-width: 770px) {
  .menu-list li + li {
    padding-left: 25px;
  }

}
@media (max-width: 700px) {
  .menu-list a {
    font-size: 13px;
}
.menu-list {
  flex-wrap: wrap;
  margin-left: 10px;
  }
.header-title{
    font-size: 40px;
  }
  .header-text {
    margin-bottom: 30px;
    font-size: 15px;
  }
  .description-img img {
    width: 100%;
    text-align: center;
  }
  .description{
    padding-top: 30px;
  }
  .description-text{
    padding-top: 15px;
  }
  .title{
    font-size: 35px;
    margin-bottom: 8px;
  }
  .description-expl{
    margin-bottom: 10px;
  }
  .description-expl p{
    font-size: 13px;
  }
  .description-list{
    padding-top: 10px;
  }
  .description-list-item{
    font-size: 13px;
    margin-bottom: 8px;
  }
  .index-boxes{
    padding: 15px;
  }
  .ration {
    margin-bottom: 25px;
  }
  .ration-text p {
    font-size: 13px;
  }
  .calculate-text {
    font-size: 18px;
  }
  .calculate-btn {
    padding: 8px 25px;
    font-size: 13px;
  }
  .quality {
    margin-bottom: 25px;
  }
  .quality-title {
    align-items: center;
  }
  .quality-items {
    flex-direction: column;
    align-items: center;
  }
  .quality-item p {
    font-size: 13px;
  }
  .article-text p {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .index-boxes{
    flex-direction: column;
    align-items: center;
  }
  .composition-item{
    font-size: 13px;
  }
  .index-subtitle{
    font-size: 12px;
    margin: 0;
  }
  .ration {
    padding-top: 30px;
  }
  .ration-views {
    flex-direction: column;
    align-items: center;
  }
  .ration-view {
    text-align: center;
    font-size: 13px;
  }
  .view-name {
    padding-top: 15px;
  }
  .view-size .view-sort {
    margin-bottom: 10px;
  }
  .ration-btn {
    padding: 4px 20px;
  }
  .calculate-text {
    font-size: 13px;
  }
  .quality-item-img {
    margin: 0;
  }
  .quality-subtitle {
    font-size: 13px;
  }
  .article {
    margin-bottom: 25px;
  }
  .article-text {
    margin-top: 5px;
  }
  .delivery {
    margin-bottom: 25px;
  }
  .delivery-items {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .delivery-item {
    margin-bottom: 15px;
  }
  .delivery-subtitle {
    font-size: 13px;
  }
  .delivery-item p {
    font-size: 13px;
  }
  .delivery-item-img {
    margin-bottom: 10px;
  }
  .question-subtitle {
    font-size: 13px;
  }
  .question-text p {
    font-size: 13px;
  }
  .questions {
    margin-bottom: 25px;
  }
  .contacts-box {
    padding-top: 15px;
  }
  .form-inputs {
    display: block;
  }
  .form-block {
    flex-direction: column;
  }
  .checkbox {
    justify-content: flex-start;
  }
  .contact-form p {
    font-size: 13px;
  }
  .form-subtitle {
    font-size: 13px;
  }
  .footer-content p {
    font-size: 10px;

  }
}
@media (max-width: 380px) {
  .menu-list a {
    font-size: 10px;
}
.menu-list {
  flex-wrap: wrap;
}

element.style {
}
.header-button {
    padding: 8px 30px;
    font-size: 14px;
}

}